@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Rubik:wght@300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 1;
}


