/* ----- Стили main -----*/

main {
    width: 100%;
    height: calc(100% - 60px);

    background-color: rgb(110, 110, 110);
}

.title {
    padding: 15px 0;
    text-align: center;
}

.window {
    width: 80%;
    min-height: 50px;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}

.window__navigate {
    display: flex;
    justify-content: left;
}

.navigate__button {
    margin-right: 2px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);

    cursor: pointer;
}

.window__input {
    padding: 5px;
}

.input__block {
    padding: 5px;
}

.block__element {
    padding: 5px 0;
}

input {
    width: 500px;
    padding: 2px;
}

button {
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.table {
    width: 80%;
    margin: 0 auto;
}


