/* ----- Стили main -----*/

main {
    width: 100%;
    height: calc(100% - 60px);

    background-color: rgb(110, 110, 110);
}

.inputBlock {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.inputLine {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.inputText {
    width: 300px;
}

.input {
    width: 400px;
    padding: 1px;
    text-align: right;
}


