@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Rubik:wght@300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 1;
}

/* ----- Стили header -----*/

header {
    width: 100%;
    height: 60px;

    background-color: rgb(80, 80, 80);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- Стили fonts -----*/

.h1 {
    font-size: 200% !important;
    font-weight: 400 !important;
}

.font__main {
    font-size: 100%;
    color: rgba(255, 255, 255, 0.8);

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}