@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Rubik:wght@300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;

    text-decoration: none;
    cursor: default;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 1;
}


/* ----- Стили fonts -----*/

.h1 {
    font-size: 200% !important;
    font-weight: 400 !important;
}

.font__main {
    font-size: 100%;
    color: rgba(255, 255, 255, 0.8);

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font__input {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


th, td {
    padding: 5px;
}

th {
    background-color: rgba(0, 255, 255, 0.3);
}

td {
    background-color: rgba(250, 235, 215, 0.3);
}/* ----- Стили header -----*/

header {
    width: 100%;
    height: 60px;

    background-color: rgb(80, 80, 80);

    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----- Стили main -----*/

main {
    width: 100%;
    height: calc(100% - 60px);

    background-color: rgb(110, 110, 110);
}

.title {
    padding: 15px 0;
    text-align: center;
}

.window {
    width: 80%;
    min-height: 50px;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}

.window__navigate {
    display: flex;
    justify-content: left;
}

.navigate__button {
    margin-right: 2px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.table {
    width: 80%;
    margin: 0 auto;
}

.inputBlock {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.inputLine {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.inputText {
    width: 300px;
}

.input {
    width: 400px;
    padding: 2px;
}

.submit {
    padding: 5px;
}

.submit:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15) inset;
}


/* ----- Стили footer -----*/


